h1 = "Welcome to example.com, #{@user.email}"
p '==============================================='
p 'You have successfully signed up to example.com'
p = "your username is: #{@user.email}."
p = "To login to the site, just follow this link: #{@url}."
p 'Thanks for joining and have a great day!'
